version: "3.5"
services:
  redis:
    image: redislabs/redismod
    restart: unless-stopped
    volumes:
      - redisdata:/data
    ports:
      - "6379:6379"
  minio:
    image: minio/minio
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin678
    command: ['server', '/data', '--console-address', ':9001']
    volumes:
      - miniodata:/data
    ports:
      - "9000:9000"
      - "9001:9001"
  couchdb:
    image: couchdb
    restart: unless-stopped
    volumes:
      - couchdbdata:/opt/couchdb/data
    ports:
      - "5984:5984"
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: wntqaUSDder0WkD0qKM9wM4YodgrLoQu
      NODENAME: mainjsondb
volumes:
  redisdata:
    external: true
  miniodata:
    external: true
  redisinsightdata:
    external: true
  couchdbdata:
    external: true