version: "3.5"
services:
  redis:
    image: redislabs/redistimeseries
    volumes:
      - redisdata:/data
    ports:
      - "6379:6379"
  redisinsight:
    image: redislabs/redisinsight
    volumes:
      - redisinsightdata:/db
    ports:
      - "8001:8001"
  grafana:
    image: grafana/grafana
    environment:
      - GF_INSTALL_PLUGINS=redis-datasource
    volumes:
      - grafanadata:/var/lib/grafana
    ports:
      - "3000:3000"
    
volumes:
  redisdata:
    external: true
  grafanadata:
    external: true
  redisinsightdata:
    external: true