version: "3.5"
services:
  redis:
    image: redislabs/redismod
    container_name: gmapi_redis_1
    restart: unless-stopped
    volumes:
      - redisdata:/data
    ports:
      - "6379:6379"

volumes:
  redisdata:
    external: true